#
# Rename this file from env.example to .env in server directory
#
WEBSOCKET_PORT = 4002

# Average Claim Websocket
AVG_CLAIM_STITCH_WEBHOOK = webhook1

# Total Claims Websocket
TOTAL_CLAIM_WEBHOOK = webhook2