#
# Rename this file from env.example to .env in server directory
#

# Average Claim Websocket
AVG_CLAIM_STITCH_WEBHOOK = webhook1
AVG_CLAIM_WEBSOCKET_PORT = 4002

# Total Claims Websocket
TOTAL_CLAIM_WEBHOOK = webhook2
TOTAL_CLAIM_WEBSOCKET_PORT = 4001